.auth-footer {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footer{
  background-color:$white;
  height: 251px;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
  color:#85a5d0 !important;
}
.dark-mode{
  .gametv-subtitle{
    color:$white;
  }
  .footer{
    background-color:#85a5d0;
  }

}
