
$grays : #f1f1f1;
$red : #f1f1f1;

.header__top {
  position: absolute;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  width: 610px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .logo{

  }
  .menu{
    width: 345px;
    height: 46px;
    background-image: url("../images/kynguyenz/menu/bgMenu.png");
    background-position: center center;
    background-repeat: no-repeat;
    ul{
      display: flex;
      margin:0;
      padding: 0;
      margin-left:auto;
      li{
        list-style: none;
        display: inline-block;
        a{
          padding: 10px 15px;
          display: block;
          font-size: 1rem;
          color: #ffffff;
          cursor: pointer;
          &:hover{
            color: #bc915c;
          }
        }
      }
    }
  }
}
.navbar--top{
  position: absolute;
  left: 50%;
  top:1vh;
  ul{
    li{
      display: inline-block;
      a{
        color: #FFF;
        font-display:20px;
        text-shadow:0px 0px 10px #0d4e7b;
        font-weight: 700;
        padding: 10px 20px;
        display: block;
      }
    }
  }
}
