.container {
  width: 1144px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  // background-size:cover;

  // background: #0b1014 url(../images/web/bgNight.jpg) no-repeat 0 0px/100% auto;
  background-color: #06092a;
  color: $dark;
  overflow-x: hidden;
}

.gametv-main {
  min-height: 100%;
}


.gametv-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.gametv-subtitle {
  font-size: 1rem;
  font-weight: bold;
}


.gametv-group {
  display: flex;

  >a,
  >button {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


button.close {
  opacity: 1;
  outline: none;

  .gametv-icon {
    font-weight: inherit;
  }
}


.list-unstyled {
  margin-bottom: 0;
}
button:focus {
  outline: none;
}
.border-radius-025{
  border-radius: 0.25rem;
}

.border-radius-05{
  border-radius: 0.5rem;
}
.border-radius-1{
  border-radius: 1rem;
}
.gapo-box {
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  -moz-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  box-shadow: 0 1px 3px rgba(26,26,26,.3);
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: $light;
}
.post-more{
  color: $dark;
}
.dark-mode{
  body{
    background-color: #06092a;
    color: $light;
  }
  .post-more{
    color: $white;
  }
}
.modal-content{
  background-color: $light;
  border-radius: 1rem;
}
.tour-video,.list-news-video{
  color: $dark;
}

.modal {
  // .modal-body {
  //   padding: 2.5rem;

  // }

  .modal-dialog {
    max-width: 542px;
    min-height: 642px;
  }
}
.dark-mode{
  // body {
  //   height: 100%;
  //   background-image: url("../images/gametv/bgNight.jpg");
  //   background-position: center 40px;
  //   background-repeat: no-repeat;
  //   // background-size:cover;
  //   background-color: $dark;
  //   color: $dark;
  // }
  .modal-content{
    background-image: url("../images/kynguyenz/modal/bgForm.png");
    background-repeat: no-repeat;
    background-position:top center;
    min-height: 642px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    .modal-header{
      color:#deca7a;
      text-align: center;
      .close{
        color:#deca7a;
      }
    }
  }

  .gapo-box {
    background-color: #232323;
  }
  .border-bottom{
    border-bottom: 1px solid #695757 !important;
  }
  .tour-video,.list-news-video{
    color: $white;
  }
}
.modal-rules{
  .modal-dialog {
    max-width: 962px;
  }
  .modal-content{
    background-image: url("../images/kynguyenz/modal/bgForm4.png");
    background-repeat: no-repeat;
    background-position:top center;
    min-height: 652px;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;

    .modal-header{
      color:#deca7a;
      text-align: center;
      .close{
        color:#deca7a;
      }
    }
    .modal-body{
      padding-right: 200px !important;
      .title{
        color: #deca7a;
        font-weight: bold;
        font-size: 20px;
      }
    }

  }
}
.tour-header{
  border-bottom: 5px solid $danger;
  padding: 0 0 1rem 0;
}
.list-news-video__header{
  border-bottom: 3px solid $danger;
  padding: 0 0 0.75rem 0;
}
.part{
  width: 90px;
  height: 38px;
  background-color: #8a8e9e;
  color: #ffffff;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}
.part.active,.part-tag.active{
  background-color: $danger !important;
  color: #ffffff !important;

}
.series-icon,.tour-tag-icon{
  font-size: 1.5rem;
  font-weight: bold;
}
.tour-more{
  font-weight: bold;
  color: #6c7183;
}
.part-tag{
  padding: 0 0.5rem;
  height: 30px;
  background-color: #eff0f4;
  color: #000000 !important;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}
.thumb-video{
  position: relative;
  .icon-video{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:28px;
    height: 35px;
    margin:auto;
  }
}
.list-streamer{
  li{
    background-color:#eff0f4;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    .media-body{
      justify-content:center;
      display:flex;
      min-height: 33px;
      align-items: center;
      font-weight: bold;
      a{
        color:#000000;
      }
    }
  }
}
li.media img {
  object-fit: cover;
}
.section--3{
  .swiper-slide{
    visibility: hidden;
  }
  .swiper-slide-active{
    visibility: visible;
  }
}

.section--4{
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $dark;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

  }

  .swiper-pagination-bullet {
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
    color: #bc915c;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    margin: 8px 0px !important;
  }
  .swiper-pagination-bullet + .swiper-pagination-bullet {
    // margin: 0.38rem 0px !important;
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background-image: url("../images/kynguyenz/paging/bgActive.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-weight: 700;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 0;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../images/kynguyenz/paging/bgPagingNoText.png");
    background-position: center center;
    background-repeat: no-repeat;
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
  }

  .swiper-slide{
    .bg{
      width: 100%;
      -o-object-position: top;
      object-position: top;
      height: 100vh;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .icon-play{
      position: absolute;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0,0,0);
      z-index: 10;
      left: 15%;
      cursor: pointer;
      img{
        animation: pulse 1s infinite linear;
      }
    }
    .icon-reward{
      position: absolute;
      text-align: center;
      transition: .3s opacity;
      transform: translate3d(0,0,0);
      z-index: 10;
      bottom: 30px;
      cursor: pointer;
      img{
        animation: bounceInUp 2.5s  linear;
      }
    }
    .wrap__slider{
      position: absolute;
    }
  }
}



.side{
  width: 180px;
  height: 470px;
  position: fixed;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  right: 0;
  top: calc(50% - 205px);
  background-image: url("../images/kynguyenz/side/bgSide.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .button{
    position: relative;
    cursor: pointer;
  }
  .phone__contact{
    position: absolute;
    color: #FFFFFF;
    font-size: 17px;
    width: 150px;
    text-align: center;
    top:25px;
    font-weight: bold;
  }
  .side_action{
    position: absolute;
    right: 100%;
    top:50px;
    cursor: pointer;
  }
  animation: slideInRight 0.5s  linear;
}
.hide-side{
  right: -180px;
  animation: slideInRight 1.5s  linear;
}
.view__hero{
  width: 990px;
  height: 700px;
  position: absolute;
  &--class{
    justify-content: start;
    display: flex;
  }
  &--description{
    justify-content: start;
    display: flex;
    text-align: left;
    color: #cbeaff;
    font-size: 0.875rem;
    padding-left: 12px;
    padding-top: 20px;
    min-height: 300px;
  }
  &--polygon{
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
  &--image{
    position: relative;
    img{
      position: absolute;
      left: 0;
      top:-100px
    }
  }
}

.vip-content{
  width: 1200px;
  height: 100%;
  position: absolute;
  max-height: 600px;
  .vip-item{
    text-align: justify;
    .title{
      color: #ffd18f;
      font-weight: bold;
      font-size: 13px;

    }
    .content{
      color: #ffffff;
      font-size: 12px;
      text-align: justify;
    }
  }
}
.vip-content .col:nth-child(2n) .vip-item{
  margin-top:100px;
}

.box-user{
  position: absolute;
  width:400px;
  height: 200px;
  right: 0;
  top:0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  a{
    cursor: pointer;
  }
  ul{
    width:400px;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;

    li{
      display: inline-block;
      margin: 0px 5px;
    }
  }

}

.history-item{
  display: flex;
  justify-content: space-between;
  border-bottom :1px solid #343e44;
  align-items: center;
  padding-bottom:5px;
  .media{
    display: flex;
    justify-content: start;
    align-items: center;
    span{
      color:#deca7a;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .time{
    font-size: 16px;
  }
}
.nav-pagination{
  border-radius: 0;
  .page-item:first-child .page-link {
    border-radius: 0;
  }
  .page-item:last-child .page-link {
    border-radius: 0;
  }
  .page-link {
    background-color: #142232;
    border: 1px solid #192b3f;
}
}


.section__background img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.desktop {
  display: flex;
}
.section {
  .logo {
    position: absolute;
    left: 12%;
    top: 0px;
    background-image: url("../images/kynguyenz/menu/Logo.png");
    background-position: 0px 0px;
    width: 217px;
    height: 178px;
  }
  .recharge{
    position: absolute;
    left: calc(50% - 165px);
    top: 75vh;
    background-image: url("../images/web/btn_napthe.png");
    background-position: 0px 0px;
    width: 331px;
    height: 87px;
    animation: pulse 1s infinite linear;
  }
}
.hidden{
  display: none;
}

.section--2 {
  height: 20vh;
  padding-top: 35px;
  background-color: #06092a;

  .content-news {
    width: 1200px;
    margin: 0px auto;
    align-items: unset;
    justify-content: space-between;
    // transform: scale(0.75);
    background-image: url("../images/web/bg_new.png");
    background-size:  1200px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 400px;
    position: relative;
    top: -30vh;
    .banner-swiper {
      width: 682px;
    }
    .banner-frame {
      width: 682px;
      height: 350px;
      margin-top:26px;
      background-color: rgba(255,237,189,0.2);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;
      padding-left: 1px;
      img {
        width: 682px;
        height: 350px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    .posts {
      width: fit-content;
      position: relative;
      ul {
        list-style: none;
        margin:0;
        padding:0;
        li{
          display: inline-block;
          a{
            color: #658aa2;
          }

        }
      }
    }
    .posts__view{
      margin: 15px 20px 0px 20px;
      border-top:1px solid #a38a59;

      a{
        color: #658aa2;
        text-align: center;
        display: block;
        text-transform: uppercase;
        padding : 15px 0px;
      }
    }
    .posts__tab {
      width: 520px;
      // background-color: #671e1d;
      background-image: url("../images/web/bg_navbar_news.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 45px;
      border-radius: 15px;
      margin-bottom: 10px;
      list-style: none;
      margin:45px 0 15px 0 !important;
      padding:0 0 20px 0px !important;
      display: flex;

      li{
        flex: 1;
        display: inline-block;
        a{
          text-align: center;
          display: block;
          font-size: 16px;

          text-transform: uppercase;
        }

      }

    }
    .posts__tab a.active, .section--2 .content-news .posts__tab a:hover {
      color: #deca7a;
      font-weight: 700;
    }
    .posts__list .posts__post-title {
      color: #dbdbdb;
      font-size: 18px;
      padding-left: 20px;
      height: 42px;
      position: relative;
    }
    .posts__list li {
      width: 100%;
      padding: 8px 17px;
    }
    .posts__post-title {
      color: #dbdbdb;
      font-size: 18px;
      padding-left: 20px;
      height: 42px;
      position: relative;
    }
    .posts__list .posts__post-title::before {
      content: '';
      background-image: url("../images/web/icon-list.png");
      background-position: 0px 0px;
      width: 16px;
      height: 15px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

  }
  .swiper-pagination {
    text-align: right;
    width: 98%;
    position: relative;
    top: -30px;
    z-index: 100;
  }
  .swiper-pagination-bullet {
    background-image: url(../images/web/paging.png);
    background-position: center center;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 1;
    text-indent: -9999px;
    margin: 0px 10px 0px 0px;
}
  .swiper-pagination-bullet-active {
    background-image:url(../images/web/paging_active.png);
    background-position: center center;
    width: 20px;
    height: 20px;
  }
}

.section--3{
  position: relative;
  background-color: #06092a;
  padding-bottom: 20vh;
  .section__background img {
    height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.swiper-container-hero{
  position: absolute;
  left: 0;
  right: 0;
  top: 0vh;
  width: 990px;
  height: 700px;
  margin: auto;


}
.view__hero {
  width: 990px;
  height: 700px;
  margin: auto;

  // transform: scale(0.75);
}
.view__hero--class{
  animation: pulse 1s infinite linear;
}

.section--4{
  height: 70vh;
  position: relative;
  background-image:url(../images/web/bg_bot.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #06092a;
  .section__background img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .wrap__slider{
    position: absolute;
    left: 0;
    right: 0;
    top: 0vh;
    z-index: 1000;
    // transform: scale(0.75);
  }
}

.section--10{
  height: 23vh;
  position: relative;
  background-image:url(../images/web/bg_footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #06092a;
  .section__background img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
// .section--10 .footer {
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 1vh;
//   z-index: 1000;
// }
.footer{
  padding-top:50px;
  color:#85a5d0 ;
}
.section--5{
  .section__background img {
    width: 100%;
    height:40vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.section--6{
  top:0vh;
  margin-top: -115px;
  position: relative;
  background-image:url(../images/web/bg_bot.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 150px;
  .nav-pagination{
    display: flex;
    // justify-content: center;
    margin:30px 0;
  }
  li.media{
    border-bottom: 1px solid #433925;
  }
  .btn_back{
    position: absolute;
    top:10px;
  }
  .posts__list .posts__post-title {
    color: #dbdbdb;
    font-size: 18px;
    padding-left: 20px;
    height: 42px;
    position: relative;
  }
  .posts__list li {
    width: 100%;
    padding: 8px 17px;
  }
  .posts__post-title {
    color: #dbdbdb;
    font-size: 18px;
    padding-left: 20px;
    height: 42px;
    position: relative;
  }
  .posts__list .posts__post-title::before {
    content: '';
    background-image: url("../images/web/icon-list.png");
    background-position: 0px 0px;
    width: 16px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  // background-color: #06092a;
}
.title-more{
  color:#dcc979;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #433925;

}
.title-news{
  color:#dcc979;
  font-size: 20px;
}
.badge-yellow{
  background-color: #deca7a;
  padding :3px 10px;
  border-radius: 3px;
  color:#06092b;
  text-transform: uppercase;
}
.badge-time{
  color:#dcc979;
}
.section-hero{
  .desktop{
    max-width: 100%;
  }
}

@media(max-width:1440px){
  .wrap__slider,.content-news,.view__hero,.swiper-pagination-hero,.wrapper-video,.swiper-pagination-bullet {
    transform: scale(0.75);
  }
}

.section-hero{
  position: relative;

  .swiper-pagination-bullet {
    width: 117px;
    height: 117px;
    margin:0 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    display: inline-block;

  }
  .swiper-pagination-hero{
    position: absolute;
    top:10vh;
    right: 50%;
    z-index: 1000;
  }
  .swiper-pagination-bullet:nth-child(1){
    background: url("../images/web/paging_class1_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(1){
    background: url("../images/web/paging_class1.png") 100% 100%;
  }
  .swiper-pagination-bullet:nth-child(2){
    background: url("../images/web/paging_class2_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(2){
    background: url("../images/web/paging_class2.png") 100% 100%;
  }
  .swiper-pagination-bullet:nth-child(3){
    background: url("../images/web/paging_class3_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(3){
    background: url("../images/web/paging_class3.png") 100% 100%;
  }
  .swiper-pagination-bullet:nth-child(4){
    background: url("../images/web/paging_class4_no.png") 100% 100%;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet:nth-child(4){
    background: url("../images/web/paging_class4.png") 100% 100%;
  }
  .swiper-button-next{
    position: absolute;
    top:45vh;
    right: 15%;
    z-index: 1000;
    display: flex;
  }
  .swiper-button-prev{
    position: absolute;
    top:45vh;
    left: 15%;
    z-index: 1000;
    display: flex;
  }
  .wrapper-video{
    width:374px;
    height: 220px;
    position: absolute;
    right:52%;
    top:27vh;
    z-index: 1000;
    display: none;
    border:4px solid #5f2a38;
  }
  .swiper-slide{
    visibility: hidden;
  }
  .swiper-slide.swiper-slide-active{
    visibility: visible;
  }
  .swiper-slide-active{
    .wrapper-video{
      z-index: 1010;
      display: flex;
    }
  }
  // .swiper-pagination-bullet-active {
  //   color: #fff;
  //   background: #007aff;
  // }

}
