{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
  <nav class="navbar--top">
    <ul>
      <li>
        <a href="#">Trang chủ</a>
      </li>
      <li>
        <a href="#">Tin tức</a>
      </li>
      <li>
        <a href="#">Hội nhóm</a>
      </li>
      <li>
        <a href="#">Fanpage</a>
      </li>
    </ul>
  </nav>
  <section class="section section--5">
    <div class="section__background">
      <img data-src="assets/images/web/bg_topnews" src="assets/images/web/bg_topnews.jpg" alt="" class="desktop lazyloaded">
    </div>
    <a class="logo" href="#">
      <span class="hidden">logo</span></a>

  </section>
  <section class="section section--6">
    <div class="container">
      <img  src="assets/images/web/title_details.png" alt="" class="mw-100 desktop lazyloaded">
      <a class="btn_back" href="#">
        <img  src="assets/images/web/icon_back.png" alt="" class="desktop lazyloaded">
      </a>
    </div>
    <div class="container">
      <div class="px-4 py-3">
        <div class="post-details">
          <img  src="assets/images/web/detail.jpg" class="m-auto " alt="" class="desktop lazyloaded">
        </div>
        <div class="list-more">
          <div class="title-more">
            Tin gần đây
          </div>
          <ul class="posts__list list-unstyled m-0">
              <li>
                <a class="posts__post-title flex" href="#" title="26/08: Ra mắt phiên bản chính thức - Open Beta">
                  <span>26/08: Ra mắt phiên bản chính thức - Open Beta
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/10-00-21-08-alpha-test-mo-may-chu-s2-nhat-nguyet.html" title="10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt">
                  <span>10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/trai-nghiem-alpha-nhan-code-beta-cuc-da.html" title="Trải nghiệm Alpha - Nhận Code Beta cực đã">
                  <span>Trải nghiệm Alpha - Nhận Code Beta cực đã
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cach-nap-nguyen-bao.html" title="Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cai-dat-bang-gia-lap-tren-may-tinh.html" title="Cập nhật file APK Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Cập nhật file APK Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
            </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <img  src="assets/images/web/line_bottom.png" alt="" class="mw-100 desktop lazyloaded">
    </div>

  </section>

  <section class="section section--10">
    {% include "./shared/footer.njk" %}
  </section>
  {% include "./shared/side.njk" %}
  {# <div class="row justify-content-center">
  <div class="col  py-4">
      {% include "./components/slideshow2.njk" %}

  </div>
</div> #}

  {# {# {% include "./components/login-modal.njk" %} #}
  {% include "./components/modal03.njk" %}
  {% include "./components/modal04.njk" %}
{% endblock %}
