{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
  <nav class="navbar--top">
    <ul>
      <li>
        <a href="#">Trang chủ</a>
      </li>
      <li>
        <a href="#">Tin tức</a>
      </li>
      <li>
        <a href="#">Hội nhóm</a>
      </li>
      <li>
        <a href="#">Fanpage</a>
      </li>
    </ul>
  </nav>
  <section class="section section--1">
    <div class="section__background">
      <img data-src="assets/images/web/bg_top.jpg" src="assets/images/web/bg_top.jpg" alt="" class="desktop lazyloaded">
    </div>
    <a class="logo" href="#">
      <span class="hidden">logo</span></a>
  </section>
  <section class="section section--2 ">
    {# <div class="section__background"><img alt="" data-src="//img.zing.vn/products/ttn/skin-2020/dist/main/images/bg/f2.jpg" class="desktop lazyloaded" src="//img.zing.vn/products/ttn/skin-2020/dist/main/images/bg/f2.jpg"><img alt="" data-src="//img.zing.vn/products/ttn/skin-2020/dist/main/images/bg/f2-mb.jpg" class="mobile lazyload"></div> #}
    <div class="content-news d-flex">
      <div class="banner">
        <div class="swiper-container banner-swiper swiper-container-initialized swiper-container-horizontal">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="banner-frame flex center">
                <a href="#" target="" ><img class="img-banner lazyloaded" alt="" data-src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-01.jpg" src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-01.jpg"></a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="banner-frame flex center">
                <a href="#" target="" ><img class="img-banner lazyloaded" alt="" data-src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-O.jpg" src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-O.jpg"></a>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="banner-frame flex center">
                <a href="#" target="" ><img class="img-banner lazyloaded" alt="" data-src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-02.jpg" src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-02.jpg"></a>
              </div>
            </div>
            <div class="swiper-slide" >
              <div class="banner-frame flex center">
                <a href="#" target="" ><img class="img-banner lazyloaded" alt="" data-src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-03.jpg" src="//img.zing.vn/upload/ttn/source/Banner/590x290/banner-03.jpg"></a>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="posts">
        <ul class="posts__tab flex nav " id="posts__tab"  role="tablist">
          <li>
            <a class="flex center active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" >Tin tức</a>
          </li>
          <li>
            <a class="flex center "  id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sự kiện</a>
          </li>
          <li>
            <a class="flex center "  id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Hướng dẫn</a>
          </li>
        </ul>

        <div id="posts__list" class="tab-content">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul class="posts__list">
              <li>
                <a class="posts__post-title flex" href="#" title="26/08: Ra mắt phiên bản chính thức - Open Beta">
                  <span>26/08: Ra mắt phiên bản chính thức - Open Beta
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/10-00-21-08-alpha-test-mo-may-chu-s2-nhat-nguyet.html" title="10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt">
                  <span>10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/trai-nghiem-alpha-nhan-code-beta-cuc-da.html" title="Trải nghiệm Alpha - Nhận Code Beta cực đã">
                  <span>Trải nghiệm Alpha - Nhận Code Beta cực đã
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cach-nap-nguyen-bao.html" title="Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cai-dat-bang-gia-lap-tren-may-tinh.html" title="Cập nhật file APK Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Cập nhật file APK Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
            </ul>
            <div class="posts__view" id="posts__view-all" href="#" title="Xem thêm">
            <a href="#" class="text-center">Xem Thêm</a>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ul class="posts__list">
              <li>
                <a class="posts__post-title flex" href="#" title="26/08: Ra mắt phiên bản chính thức - Open Beta">
                  <span>ABC: Ra mắt phiên bản chính thức - Open Beta
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/10-00-21-08-alpha-test-mo-may-chu-s2-nhat-nguyet.html" title="10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt">
                  <span>10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/trai-nghiem-alpha-nhan-code-beta-cuc-da.html" title="Trải nghiệm Alpha - Nhận Code Beta cực đã">
                  <span>Trải nghiệm Alpha - Nhận Code Beta cực đã
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cach-nap-nguyen-bao.html" title="Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cai-dat-bang-gia-lap-tren-may-tinh.html" title="Cập nhật file APK Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Cập nhật file APK Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
            </ul>
            <div class="posts__view" id="posts__view-all" href="#" title="Xem thêm">
            <a href="#" class="text-center">Xem Thêm</a>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <ul class="posts__list">
              <li>
                <a class="posts__post-title flex" href="#" title="26/08: Ra mắt phiên bản chính thức - Open Beta">
                  <span>CCC: Ra mắt phiên bản chính thức - Open Beta
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/10-00-21-08-alpha-test-mo-may-chu-s2-nhat-nguyet.html" title="10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt">
                  <span>10:00 21/08: Alpha Test mở máy chủ S2 Nhật Nguyệt
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="#/tin-tuc/tin-tuc/trai-nghiem-alpha-nhan-code-beta-cuc-da.html" title="Trải nghiệm Alpha - Nhận Code Beta cực đã">
                  <span>Trải nghiệm Alpha - Nhận Code Beta cực đã
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cach-nap-nguyen-bao.html" title="Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Hướng dẫn nạp thẻ Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
              <li>
                <a class="posts__post-title flex" href="http:#/tin-tuc/huong-dan/huong-dan-cai-dat-bang-gia-lap-tren-may-tinh.html" title="Cập nhật file APK Tân Tiếu Ngạo VNG" rel="nofollow">
                  <span>Cập nhật file APK Tân Tiếu Ngạo VNG
                    </span></a>
              </li>
            </ul>
            <div class="posts__view" id="posts__view-all" href="#" title="Xem thêm">
            <a href="#" class="text-center">Xem Thêm</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <div class="section-hero swiper-hero">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hSbKoN1oZ90?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/xathu.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/U49KDDBlORU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/satthu.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CD0iIYyEgHI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/dausy.jpg" alt="" class="desktop lazyloaded">
          </div>
          <div class="swiper-slide" >
            <div class="wrapper-video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pye62NFkiLM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img  src="assets/images/kynguyenz/class/thosan.jpg" alt="" class="desktop lazyloaded">
          </div>
        </div>
         <!-- Add Arrows -->
          <div class="swiper-button-next">
            <img  src="assets/images/web/next.png" alt="" class="desktop lazyloaded"/>
          </div>
          <div class="swiper-button-prev">
            <img  src="assets/images/web/prev.png" alt="" class="desktop lazyloaded"/>
          </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination-hero"></div>
  </div>
  <section class="section section--4">
    {% include "./components/slideshow2.njk" %}
  </section>
  <section class="section section--10">
    {% include "./shared/footer.njk" %}
  </section>
  {% include "./shared/side.njk" %}
  {# <div class="row justify-content-center">
  <div class="col  py-4">
      {% include "./components/slideshow2.njk" %}

  </div>
</div> #}

  {# {# {% include "./components/login-modal.njk" %} #}
  {% include "./components/modal03.njk" %}
  {% include "./components/modal04.njk" %}
{% endblock %}
