{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
  <nav class="navbar--top">
    <ul>
      <li>
        <a href="#">Trang chủ</a>
      </li>
      <li>
        <a href="#">Tin tức</a>
      </li>
      <li>
        <a href="#">Hội nhóm</a>
      </li>
      <li>
        <a href="#">Fanpage</a>
      </li>
    </ul>
  </nav>
  <section class="section section--5">
    <div class="section__background">
      <img data-src="assets/images/web/bg_topnews" src="assets/images/web/bg_topnews.jpg" alt="" class="desktop lazyloaded">
    </div>
    <a class="logo" href="#">
      <span class="hidden">logo</span></a>

  </section>
  <section class="section section--6">
    <div class="container">
      <img  src="assets/images/web/title_news.png" alt="" class="mw-100 desktop lazyloaded">
    </div>
    <div class="container">
      <ul class="list-unstyled mt-2">
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/garena-choi-lon-tang-mien-phi-skin-moi-cho-toan-sever-p22667/" title="Garena chơi lớn tặng miễn phí skin mới cho toàn sever">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1598171994/api_cdn.gametv.vn-ad449d0700c1f4dba764410f97eeebc7.png" alt="Garena chơi lớn tặng miễn phí skin mới cho toàn sever" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/garena-choi-lon-tang-mien-phi-skin-moi-cho-toan-sever-p22667/" class="mt-0 mb-1 font-weight-bold title-news"> Garena chơi lớn tặng miễn phí skin mới cho toàn sever                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <span class="badge badge-yellow mr-2">Tin tức</span><span class="badge badge-yellow mr-2">Sự kiện</span><strong>Dạ Vũ Vương</strong> - <span class="badge-time">08:30, 23/08/2020</span></div>
            <div class=" text-secondary mt-2">
              <p>Để tăng lượng người chơi trong Liên Quân Mobile, Garena quyết định tặng free skin tướng mới trong chuỗi sự kiện sắp diễn ra</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/elly-lan-dau-xuat-hien-trong-vai-tro-moi-team-flash-van-de-dang-ban-hanh-cho-box-gaming-p22664/" title="Elly lần đầu xuất hiện trong vai trò mới, Team Flash vẫn dễ dàng bán hành cho BOX Gaming">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1598106279/api_cdn.gametv.vn-eb505bbd44a74ee06ec0e0e16aa7b729.jpg" alt="Elly lần đầu xuất hiện trong vai trò mới, Team Flash vẫn dễ dàng bán hành cho BOX Gaming" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/elly-lan-dau-xuat-hien-trong-vai-tro-moi-team-flash-van-de-dang-ban-hanh-cho-box-gaming-p22664/" class="mt-0 mb-1 font-weight-bold title-news"> Elly lần đầu xuất hiện trong vai trò mới, Team Flash vẫn dễ dàng bán hành cho BOX...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>**c k*</strong> - 21:24, 22/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Chẳng cần tới sự xuất hiện của ADC, nhà ĐKVĐ vẫn dễ dàng bỏ túi điểm số đầu tiên ở mùa giải này.&nbsp;</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/than-dong-di-rung-lai-bang-tang-follow-den-chong-mat-chi-sau-mot-mua-giai-gop-mat-p22639/" title="Thần đồng đi rừng Lai Bâng tăng follow đến chóng mặt chỉ sau một mùa giải góp mặt">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597994330/api_cdn.gametv.vn-24bd1d3cf7aa999a0adf131bedefbc5d.jpg" alt="Thần đồng đi rừng Lai Bâng tăng follow đến chóng mặt chỉ sau một mùa giải góp mặt" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/than-dong-di-rung-lai-bang-tang-follow-den-chong-mat-chi-sau-mot-mua-giai-gop-mat-p22639/" class="mt-0 mb-1 font-weight-bold title-news"> Thần đồng đi rừng Lai Bâng tăng follow đến chóng mặt chỉ sau một mùa giải góp...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>**c k*</strong> - 14:18, 21/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Tài năng của Lai Bâng được công nhận rộng rãi không chỉ bởi những chuyên gia, mà còn đến từ những người hâm mộ.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/adc-ngau-loi-cong-dong-lien-quan-phat-cuong-voi-trailer-teaser-dtdv-mua-dong-2020-p22622/" title="&quot;ADC ngầu lòi&quot; - cộng đồng Liên Quân phát cuồng với Trailer Teaser ĐTDV Mùa Đông 2020">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597899877/api_cdn.gametv.vn-aceebb234dce7acd3be16bb2e2541eff.png" alt="&quot;ADC ngầu lòi&quot; - cộng đồng Liên Quân phát cuồng với Trailer Teaser ĐTDV Mùa Đông 2020" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/adc-ngau-loi-cong-dong-lien-quan-phat-cuong-voi-trailer-teaser-dtdv-mua-dong-2020-p22622/" class="mt-0 mb-1 font-weight-bold title-news"> "ADC ngầu lòi" - cộng đồng Liên Quân phát cuồng với Trailer Teaser ĐTDV Mùa...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>**c k*</strong> - 14:04, 20/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Trailer của Đấu Trường Danh Vọng mùa đông 2020 có lẽ không làm bất cứ ai yêu mến Liên Quân Mobile cảm thấy thất vọng.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/thoi-bach-oi-can-than-nhu-apl-cong-dong-lqmb-noi-gi-ve-su-tu-tin-cua-team-flash-truoc-mua-giai-moi-p22608/" title="&quot;Thôi Bách ơi, cẩn thận như APL&quot;, cộng đồng LQMB nói gì về sự tự tin của Team Flash trước mùa giải mới">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597805109/api_cdn.gametv.vn-15266e6684b26f0e3ac430da8279e067.jpg" alt="&quot;Thôi Bách ơi, cẩn thận như APL&quot;, cộng đồng LQMB nói gì về sự tự tin của Team Flash trước mùa giải mới" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/thoi-bach-oi-can-than-nhu-apl-cong-dong-lqmb-noi-gi-ve-su-tu-tin-cua-team-flash-truoc-mua-giai-moi-p22608/" class="mt-0 mb-1 font-weight-bold title-news"> "Thôi Bách ơi, cẩn thận như APL", cộng đồng LQMB nói gì về sự tự tin của...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>**c k*</strong> - 09:45, 19/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Rất nhiều người tin rằng Team Flash sẽ có lần thứ 4 liên tiếp bảo vệ thành công ngôi vương của Đấu Trường Danh Vọng.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/be-trung-noi-gi-khi-team-flash-cong-bo-super-team-20-p22600/" title="Bé Trung nói gì khi Team Flash công bố Super Team 2.0">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/2019/12/1574998470-43-1-min-1574997935-width660height440.jpg" alt="Bé Trung nói gì khi Team Flash công bố Super Team 2.0" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/be-trung-noi-gi-khi-team-flash-cong-bo-super-team-20-p22600/" class="mt-0 mb-1 font-weight-bold title-news"> Bé Trung nói gì khi Team Flash công bố Super Team 2.0                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>**c k*</strong> - 14:31, 18/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Streamer hàng đầu của Liên Quân Mobile Việt Nam đã có những nhận định của riêng mình về đội hình mới của nhà ĐKVĐ Đấu Trường Danh Vọng.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/truoc-them-dau-truong-danh-vong-mua-dong-2020-diem-danh-nhung-guong-mat-gay-thuong-nho-nhat-lang-lien-quan-mobile-p22599/" title="Trước thềm Đấu Trường Danh Vọng mùa Đông 2020, điểm danh những gương mặt gây thương nhớ nhất làng Liên Quân Mobile">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597722459/api_cdn.gametv.vn-1f7f299e4c95da60f849baae7eb69b07.png" alt="Trước thềm Đấu Trường Danh Vọng mùa Đông 2020, điểm danh những gương mặt gây thương nhớ nhất làng Liên Quân Mobile" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/truoc-them-dau-truong-danh-vong-mua-dong-2020-diem-danh-nhung-guong-mat-gay-thuong-nho-nhat-lang-lien-quan-mobile-p22599/" class="mt-0 mb-1 font-weight-bold title-news"> Trước thềm Đấu Trường Danh Vọng mùa Đông 2020, điểm danh những gương mặt gây...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>NeerxoooxGkucf</strong> - 10:47, 18/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>
                <em>
                  <span xss="removed">Đấu Trường Danh Vọng mùa Đông 2020 đang rục rịch khởi động và đây là lúc điểm lại những gương mặt vừa tài năng, vừa gây thương nhớ của làng Liên Quân Việt, hứa hẹn sẽ bùng cháy trong năm nay.</span></em>
              </p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/tencent-thuong-lon-cho-nhung-game-thu-muon-choi-lien-quan-mobile-tro-lai-p22574/" title="Tencent thưởng lớn cho những game thủ muốn chơi Liên Quân Mobile trở lại">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597479183/api_cdn.gametv.vn-860b99bd0e0ea9d7601e840a37443174.jpg" alt="Tencent thưởng lớn cho những game thủ muốn chơi Liên Quân Mobile trở lại" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/tencent-thuong-lon-cho-nhung-game-thu-muon-choi-lien-quan-mobile-tro-lai-p22574/" class="mt-0 mb-1 font-weight-bold title-news"> Tencent thưởng lớn cho những game thủ muốn chơi Liên Quân Mobile trở lại                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>**c k*</strong> - 20:13, 15/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Ưu đãi của Tencent dành cho game thủ Liên Quân Mobile bản Global vẫn là quá hấp dẫn.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/clear-men-tro-thanh-nha-tai-tro-chinh-thuc-cho-dtdv-mua-dong-2020-p22564/" title="Clear Men trở thành nhà tài trợ chính thức cho ĐTDV Mùa Đông 2020">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597376557/api_cdn.gametv.vn-8001d7a6e35771c2ea1565732056ffd0.jpg" alt="Clear Men trở thành nhà tài trợ chính thức cho ĐTDV Mùa Đông 2020" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/clear-men-tro-thanh-nha-tai-tro-chinh-thuc-cho-dtdv-mua-dong-2020-p22564/" class="mt-0 mb-1 font-weight-bold title-news"> Clear Men trở thành nhà tài trợ chính thức cho ĐTDV Mùa Đông 2020                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>NeerxoooxGkucf</strong> - 09:23, 14/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Với giải đấu Đấu Trường Danh Vọng của bộ môn Liên Quân Mobile, Clear Men là cái tên quá quen thuộc khi là nhà tài trợ cho giải đấu 3 mùa giải liên tiếp.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/lich-thi-dau-vong-bang-dtdv-mua-dong-2020-dai-chien-sgp-vs-fl-xuat-hien-o-tuan-3-p22541/" title="Lịch thi đấu vòng bảng ĐTDV Mùa Đông 2020: Đại chiến SGP vs FL xuất hiện ở tuần 3">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597216986/api_cdn.gametv.vn-aa5d99c110dbdd79079f2599f034157f.jpg" alt="Lịch thi đấu vòng bảng ĐTDV Mùa Đông 2020: Đại chiến SGP vs FL xuất hiện ở tuần 3" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/lich-thi-dau-vong-bang-dtdv-mua-dong-2020-dai-chien-sgp-vs-fl-xuat-hien-o-tuan-3-p22541/" class="mt-0 mb-1 font-weight-bold title-news"> Lịch thi đấu vòng bảng ĐTDV Mùa Đông 2020: Đại chiến SGP vs FL xuất hiện ở tuần...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>NeerxoooxGkucf</strong> - 14:30, 12/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Hai đội tuyển lọt vào trận chung kết của Đấu Trường Danh Vọng Mùa Đông 2020 Team Flash và Saigon Phantom gặp các kèo đấu "dễ thở" trong ngày khai màn giải đấu.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/doi-tuyen-tung-tham-bai-o-apl-2020-project-h-doi-ten-va-cong-bo-doi-hinh-sut-me-p22529/" title="Đội tuyển từng thảm bại ở APL 2020 Project-H đổi tên và công bố đội hình sứt mẻ">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597133742/api_cdn.gametv.vn-b74f77461b88e2db084bd08a9a338fa6.jpg" alt="Đội tuyển từng thảm bại ở APL 2020 Project-H đổi tên và công bố đội hình sứt mẻ" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/doi-tuyen-tung-tham-bai-o-apl-2020-project-h-doi-ten-va-cong-bo-doi-hinh-sut-me-p22529/" class="mt-0 mb-1 font-weight-bold title-news"> Đội tuyển từng thảm bại ở APL 2020 Project-H đổi tên và công bố đội hình sứt...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>NeerxoooxGkucf</strong> - 14:05, 12/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Thành tích của PH tại APL 2020 đã khiến cộng đồng Liên Quân Mobile chỉ trích thậm tệ. Hy vọng họ sẽ chơi tốt hơn ở mùa giải mới.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/vi-cau-view-nhieu-streamer-da-bat-chap-tat-ca-tao-nen-nhung-scandal-p22581/" title="Vì câu view nhiều Streamer đã bất chấp tất cả tạo nên những scandal">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597513335/api_cdn.gametv.vn-61d0de799da7ece7b156148f48119861.png" alt="Vì câu view nhiều Streamer đã bất chấp tất cả tạo nên những scandal" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/vi-cau-view-nhieu-streamer-da-bat-chap-tat-ca-tao-nen-nhung-scandal-p22581/" class="mt-0 mb-1 font-weight-bold title-news"> Vì câu view nhiều Streamer đã bất chấp tất cả tạo nên những scandal                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>Dạ Vũ Vương</strong> - 00:42, 12/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Streamer nghề nghiệp phổ biến trong thời đại 4.0 tuy nhiên không phải Streamer nào cũng giống nhau trong cách câu view</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/grakk-se-la-vi-tuong-tiep-theo-co-skin-tiec-bai-bien-p22575/" title="Grakk sẽ là vị tướng tiếp theo có skin tiệc bãi biển?">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597492337/api_cdn.gametv.vn-858f85aa3c05792ffb47fe1b6fbc22d9.png" alt="Grakk sẽ là vị tướng tiếp theo có skin tiệc bãi biển?" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/grakk-se-la-vi-tuong-tiep-theo-co-skin-tiec-bai-bien-p22575/" class="mt-0 mb-1 font-weight-bold title-news"> Grakk sẽ là vị tướng tiếp theo có skin tiệc bãi biển?                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>Dạ Vũ Vương</strong> - 18:46, 11/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Mới đây Timi đã tung ra trưng cầu ý kiến về tướng để làm Skin tiệc bãi biển và kết quả thật bất ngờ</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/garena-dang-dan-dan-lay-tron-niem-tin-cua-game-thu-lien-quan-mobile-p22562/" title="Garena đang dần dần lấy trọn niềm tin của game thủ liên quân mobile ?">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597313193/api_cdn.gametv.vn-5ca857df4d01e565fdef1bf03836df12.png" alt="Garena đang dần dần lấy trọn niềm tin của game thủ liên quân mobile ?" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/garena-dang-dan-dan-lay-tron-niem-tin-cua-game-thu-lien-quan-mobile-p22562/" class="mt-0 mb-1 font-weight-bold title-news"> Garena đang dần dần lấy trọn niềm tin của game thủ liên quân mobile ?                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>Dạ Vũ Vương</strong> - 17:02, 11/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Những chính sách gần đây đang cho thấy Garena đã dần tiếp nhận những ý kiến của các game thủ và đang có những thay đổi rõ rệt</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/lien-quan-mobile-dinh-loi-nghiem-trong-khien-game-thu-lac-dau-chan-nan-p22549/" title="Liên quân mobile dính lỗi nghiêm trọng khiến game thủ lắc đầu chán nản">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597248835/api_cdn.gametv.vn-136940ee20063f9d961bf249a61a28b5.png" alt="Liên quân mobile dính lỗi nghiêm trọng khiến game thủ lắc đầu chán nản" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/lien-quan-mobile-dinh-loi-nghiem-trong-khien-game-thu-lac-dau-chan-nan-p22549/" class="mt-0 mb-1 font-weight-bold title-news"> Liên quân mobile dính lỗi nghiêm trọng khiến game thủ lắc đầu chán nản                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>Dạ Vũ Vương</strong> - 23:13, 10/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Phiên bản giữa mùa của Liên Quân Mobile đang gây nên phẫn nộ trong game thủ vì có những lỗi khá nghiêm trọng</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/skin-tang-free-cho-nhung-ngay-le-lon-lieu-co-thanh-su-that-p22561/" title="Skin tặng Free cho những ngày lễ lớn liệu có thành sự thật">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597312680/api_cdn.gametv.vn-afd7f88149d66f7f46d0f59adf57feba.png" alt="Skin tặng Free cho những ngày lễ lớn liệu có thành sự thật" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/skin-tang-free-cho-nhung-ngay-le-lon-lieu-co-thanh-su-that-p22561/" class="mt-0 mb-1 font-weight-bold title-news"> Skin tặng Free cho những ngày lễ lớn liệu có thành sự thật                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>Dạ Vũ Vương</strong> - 16:58, 10/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Từ giờ đến cuối năm, Liên Quân Mobile liên tiếp có những ngày lễ lớn và như thường lệ Garena sẽ có những phần quà dành tặng các game thủ</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/v-gaming-cong-bo-doi-hinh-tham-du-dau-truong-danh-vong-mua-dong-2020-voi-hang-loat-cai-ten-la-lam-p22511/" title="V Gaming công bố đội hình tham dự Đấu Trường Danh Vọng Mùa Đông 2020 với hàng loạt cái tên lạ lẫm">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597026561/api_cdn.gametv.vn-5c5c2e9a5591f610ea8eca5565abee27.jpg" alt="V Gaming công bố đội hình tham dự Đấu Trường Danh Vọng Mùa Đông 2020 với hàng loạt cái tên lạ lẫm" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/v-gaming-cong-bo-doi-hinh-tham-du-dau-truong-danh-vong-mua-dong-2020-voi-hang-loat-cai-ten-la-lam-p22511/" class="mt-0 mb-1 font-weight-bold title-news"> V Gaming công bố đội hình tham dự Đấu Trường Danh Vọng Mùa Đông 2020 với hàng...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>NeerxoooxGkucf</strong> - 11:29, 10/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Có lẽ một vị trí tránh việc thi đấu ở vòng thăng hạng sẽ là mục tiêu hàng đầu của tân binh của ĐTDV.</p>
            </div>
          </div>
        </li>
        <li class="media py-3">
          <a href="https://gametv.vn/lien-quan-mobile/evos-cong-bo-doi-hinh-tham-du-dau-truong-danh-vong-mua-dong-2020-khi-martin-co-nhung-garrix-thi-khong-p22512/" title="EVOS công bố đội hình tham dự Đấu Trường Danh Vọng Mùa Đông 2020 khi Martin có nhưng Garrix thì không">
            <img class="mr-4" src="https://cdn.gametv.vn/gtv-photo/GTVNews/1597026933/api_cdn.gametv.vn-56a7bbdaafb06301d59e9e18dbe9b24f.jpg" alt="EVOS công bố đội hình tham dự Đấu Trường Danh Vọng Mùa Đông 2020 khi Martin có nhưng Garrix thì không" width="290" height="163">
          </a>
          <div class="media-body">
            <a href="https://gametv.vn/lien-quan-mobile/evos-cong-bo-doi-hinh-tham-du-dau-truong-danh-vong-mua-dong-2020-khi-martin-co-nhung-garrix-thi-khong-p22512/" class="mt-0 mb-1 font-weight-bold title-news"> EVOS công bố đội hình tham dự Đấu Trường Danh Vọng Mùa Đông 2020 khi Martin có nhưng...                                                        </a>
            <div class="font-size-small text-secondary mt-2">
              <strong>NeerxoooxGkucf</strong> - 09:35, 10/08/2020</div>
            <div class=" text-secondary mt-2">
              <p>Martin mà không có Garrix nghe có vẻ hơi toang thì phải.</p>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <div class="container">
      <nav aria-label="Page navigation example " class="mt-3 nav-pagination" >
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <img  src="assets/images/web/line_bottom.png" alt="" class="desktop lazyloaded">
    </div>

  </section>

  <section class="section section--10">
    {% include "./shared/footer.njk" %}
  </section>
  {% include "./shared/side.njk" %}
  {# <div class="row justify-content-center">
  <div class="col  py-4">
      {% include "./components/slideshow2.njk" %}

  </div>
</div> #}

  {# {# {% include "./components/login-modal.njk" %} #}
  {% include "./components/modal03.njk" %}
  {% include "./components/modal04.njk" %}
{% endblock %}
