{% extends "./post/_layout.njk" %}

{% block postAttachments %}
<div class="post-item__attachment post-item__attachment--1">
  <div class="attachment__item attachment__item--1">
    <a href="#" style="background-image: url(http://media.beat.vn/image/1804/3ec18774bee53f5c0238bfc866378115.jpg)">
      <img src="http://media.beat.vn/image/1804/3ec18774bee53f5c0238bfc866378115.jpg" alt="" class="img-fluid">
    </a>
  </div>
</div>
{% endblock %}
