<div class="view__hero">
  <div class="row">
    <div class="col">
      <div class="view__hero--class">
        <img src ="/assets/images/kynguyenz/page03/class3/title.png"  />
      </div>
      <div class="view__hero--description">
        <p>
          Proin porttitor lobortis justo et iaculis. Fusce turpis orci, malesuada sit amet placerat ut,
          aliquet eu nisi. Pellentesque ultricies sapien et ex pellentesque, ac feugiat purus tincidunt.
          Vivamus sollicitudin facilisis elementum. Quisque efficitur ligula nunc, a consequat augue placerat eu.
          Proin nisl odio, efficitur ut metus et, feugiat aliquam nulla. Aliquam sed gravida leo, ut cursus enim.
          Cras arcu enim, volutpat eu nibh vitae, ultrices condimentum dui.</p>
      </div>
      <div class="view__hero--polygon">
        <img src ="/assets/images/kynguyenz/page03/class3/overview.png"  />
      </div>
    </div>
    <div class="col">
      <div class="view__hero--image">
        <img src ="/assets/images/kynguyenz/page03/class3/hero.png"  />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <img src ="/assets/images/kynguyenz/page03/navClass3.png"  class="mt-3" />
    </div>
  </div>
</div>
