$font-family-base: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$body-bg: #f2f2f2;
$body-color: #1A1A1A;

$font-size-base: 0.875rem;
$line-height-base: 1.4;


$secondary: #808080;
$tertiary: #b3b3b3;
$primary: #70b61c;
$dark: #161616;
$danger: #ed1c24;
$light: #ffffff;
$blue: #2569EC;


$link-color: $body-color;
$link-hover-color: $primary;
$link-hover-decoration: none;

$border-radius-lg: 0.5rem;
$border-radius: 0.25rem;
$border-color: #eee;

$input-height: 40px;
$input-border-color: #e5e5e5;
$component-active-bg: $primary;
$input-btn-focus-color: rgba($component-active-bg, .25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$input-focus-border-color: lighten($component-active-bg, 15%);
$input-focus-color: $input-color;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: $input-btn-focus-box-shadow;
$input-placeholder-color: $secondary;
$input-disabled-bg: #F5F5F5;

$input-font-size-lg: 1.125rem;
$input-height-lg: 3rem;

$enable-validation-icons: false;
$form-feedback-margin-top: 0.5rem;
$form-feedback-font-size: $font-size-base;

$custom-select-focus-box-shadow: $input-btn-focus-box-shadow;
$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-border-color: $input-border-color;
$custom-select-height: $input-height;
$custom-select-padding-x: 1rem;

$custom-control-indicator-size: 1.5rem;
$custom-control-indicator-checked-bg: $primary;
$custom-control-indicator-border-color: $input-border-color;
$custom-control-indicator-checked-border-color: $primary;
$custom-control-indicator-focus-box-shadow: $input-btn-focus-box-shadow;
$custom-control-indicator-active-bg: $component-active-bg;

$btn-font-weight: 600;
$btn-font-size: $font-size-base;
$btn-padding-y: 0.5rem;
$btn-line-height: 1.6;

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 3.5rem;
$btn-font-size-lg: 1.125rem;
$btn-line-height-lg: 1.2;

$small-font-size: 85%;

$hr-margin-y: 1.5rem;
$hr-border-color: $input-border-color;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":  $light,
  "white":  $white,
  "dark":  $dark,
  "danger":  $danger,
  "blue":  $blue,
  "tertiary":  $tertiary,
);

$grid-breakpoints: (
  xs: 0,
  // sm: 576px,
  // md: 768px,
  // lg: 992px,
  // xl: 1232px
);

$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 960px,
  // xl: 1200px
);

$grid-gutter-width: 0.75rem;

$modal-content-border-width: 0;
$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;
$modal-content-border-radius: 0.25rem;


$close-font-size: $font-size-base;
$close-color: $dark;

